<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-11 col-md-7">
				<h2>Мы — маленькая, но гордая дизайн-студия из Краснодара. </h2>
				<p class="description">Исповедуем принципы минимализма и чистоты. Ставим математический расчет выше креатива. Работаем не покладая рук, как роботы.</p>
				<h3>Выполняем заказы на разработку:</h3>
				<ul class="products-list">
					<li class="products-item">Веб-сайтов любой сложности</li>
					<li class="products-item">Мобильных приложений для iOS и Android</li>
					<li class="products-item">Слайдшоу и видео для корпоративных презентаций</li>
				</ul>
			</div>
			<div class="col-xs-11 col-md-3 col-md-offset-1">
				<div class="logo-wrapper">
					<img src="img/logo-about.png" alt="" class="logo-about">
					<img src="img/logo-owl.png" alt="" class="logo-owl">
				</div>				
			</div>
		</div>
	</div>
</section>