<header class="section-header">
	<nav class="navigation-bar hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<a href="/#"><img src="img/logo-top.png" alt="логотип nerds" class="logo"></a>
					<span class="logo"><span>NЁRDS</span> Design Studio</span>
				</div>
				<div class="col-xs-8 text-right">
					<ul class="header-menu">
						<li class="header-menu-item">
							<a href="#"><span>Студия</span></a>
						</li>
						<li class="header-menu-item">
							<a href="#"><span>Клиенты</span></a>
						</li>
						<li class="header-menu-item">
							<a href="#"><span>Магазин</span></a>
						</li>
						<li class="header-menu-item">
							<a href="#"><span>Контакты</span></a>
						</li>
						<li class="header-menu-item">
							<a class="icon-basket" href="#"><span>Корзина</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div id="headerSlider" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
	    <li data-target="#headerSlider" data-slide-to="1"></li>
	    <li data-target="#headerSlider" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">

	    <div class="item active">
	      <div class="container">
	      	<div class="row">
	      		<div class="col-sm-6">
	      			<h2>Долго, дорого, <br>
	      			скурпулезно.</h2>
					<p>Математически выверенный дизайн для вашего сайта или мобильного приложения.</p>
					<a class="btn btn-type-1">Узнать больше</a>
	      		</div>
	      		<div class="col-sm-5 hidden-xs">
	      			<img class="img-responsive" src="img/slider-1.png" alt="выверенный дизайн">
	      		</div>
	      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <div class="container">
	      	<div class="row">
	      		<div class="col-sm-6">
	      			<h2>Любите ли вы математику,<br>
	      			как любим ее мы?</h2>
					<p>Нашим дизайнерам мы удаляем нейроны, ответственные за креатив, чтобы дать им возможность все просчитать</p>
					<a class="btn btn-type-1">Узнать больше</a>
	      		</div>
	      		<div class="col-sm-5 hidden-xs">
	      			<img class="img-responsive" src="img/slider-2.png" alt="выверенный дизайн">
	      		</div>
	      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <div class="container">
	      	<div class="row">
	      		<div class="col-sm-6">
	      			<h2>Только наркотики,<br>
	      			только хардкор!</h2>
					<p>Все дизайнерские решения в нашей компании принимаются только под воздействием качественных галлюциногенов</p>
					<a class="btn btn-type-1">Узнать больше</a>
	      		</div>
	      		<div class="col-sm-5 hidden-xs">
	      			<img class="img-responsive" src="img/slider-3.png" alt="выверенный дизайн">
	      		</div>
	      	</div>
	      </div>
	    </div>

	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#headerSlider" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#headerSlider" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</header>