<section class="map" data-slideout-ignore>
	<div class="container">
		<div class="map-box">
			<span class="logo"><span>NЁRDS</span> Design Studio</span>
			<span class="address">220125, Минск, <br>
			ул. Городецкая, 22</span>
			<span class="address">тел. <a href="tel:+375293551080">+375 (29) 355-10-80</a></span>
			<a href="#" class="btn btn-type-1">Напишите нам</a>
		</div>
	</div>
	<div id="map" class="hidden-xs" data-slideout-ignore></div>
	<div id="map-mobile" class="visible-xs-block" data-slideout-ignore></div>
</section>