/* FONTS variables */
$medium: 'RobotoMedium',sans-serif;
$light: 'RobotoLight',sans-serif;
$thin: 'RobotoThin',sans-serif;
/* COLORS variables */
$backgrey: #eee;
$lightgrey: #f1f1f1;
$text-color: #283136;
$indicators-color: #c1c1c1;

$color1: #fb565a;
$color2: #00ca74;
$color3: #efc84a;

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/RobotoThin.eot');
    src: url('../fonts/RobotoThin.eot') format('embedded-opentype'),
         url('../fonts/RobotoThin.woff2') format('woff2'),
         url('../fonts/RobotoThin.woff') format('woff'),
         url('../fonts/RobotoThin.ttf') format('truetype'),
         url('../fonts/RobotoThin.svg#RobotoThin') format('svg');
}

body {
	background: #fff;
	font: 16px/22px $light;
	color: $text-color;
  // min-width: 290px;
}
h1, h2, h3, h4 {
	color: #000;
}
h2 {
	font: 36px/36px $medium;
}
h3 {
	font: 18px/30px $medium;
	text-transform: uppercase;
    margin: 25px 0;
}
p {
	padding: 0;
    margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	text-transform: uppercase;
  color: inherit;
}
a:hover,a:active {
  color: inherit;
}
input:focus {
    outline: none!important;
}
label {
    cursor: pointer;
}

.container {
	max-width: 900px;	
}
.btn {
    color: #fff;
    font: 12px/25px $medium;
    &:hover, &:active, &:visited {
      color: #fff;
    }
}
.btn-type-1 {
    background-color: $color1;   
    &:hover {
      background-color: darken( $color1, 10% );
    }       
}
.btn-type-2 {
    background-color: $color2; 
    &:hover {
      background-color: darken( $color2, 10% );
    }          
}
.btn-type-3 {
    background-color: $color3;   
    &:hover {
      background-color: darken( $color3, 10% );
    }         
}

.custom-radiobox:not(:checked),
.custom-radiobox:checked,
.custom-checkbox:not(:checked),
.custom-checkbox:checked {
  position: absolute;
  left: -9999px;
}
.custom-radiobox:not(:checked) + label,
.custom-radiobox:checked + label,
.custom-checkbox:not(:checked) + label,
.custom-checkbox:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  display: block;
  text-align: left;
}

// pure fuckin css for custom radiobox! 8-) fuck yeah!
.custom-radiobox:not(:checked) + label:before,
.custom-radiobox:checked + label:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0; top: 2px;
    width: 20px; height: 20px;
    border: 4px solid #d7dcde;
    border-radius: 50%;
    background: #fff;
}

.custom-radiobox:not(:checked) + label:after,
.custom-radiobox:checked + label:after {
  position: absolute;
  top: 9px;
  left: 7px;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #d7dcde;
  transition: all .2s;
}

.custom-radiobox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-radiobox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

// checkboxes are implemented with bacground image (sprite)
.custom-checkbox:not(:checked) + label:before,
.custom-checkbox:checked + label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    transition: all .2s;
}
.custom-checkbox:not(:checked) + label:before {
    @include sprite($checkbox_unchecked);
    transform: scale(1);
}
,
.custom-checkbox:checked + label:before {
    @include sprite($checkbox_checked);
    transform: scale(1);
}

@media (max-width: 768px) {
    div {
        text-align: center;
    }
    img {
        float: none!important;
        margin: 0 auto;
    }
}

section {
    position: relative;
    max-width:900px;
    margin: 0 auto;
    border-bottom: 2px solid #eee;
}


.mobile-nav {
  background: #fff; 
  // box-shadow: 0px 5px 5px 0px $lightgrey;
  box-shadow: 0 4px 2px -2px  $lightgrey;
  position: fixed;
  width: 100%;
  height: 39px;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  z-index: 2; 
  span.logo {
    display: inline-block;
    line-height: 39px;
  }
}
.burger-menu {
  display: inline-block;
  float: left;
  cursor:pointer;
  &-stick1, &-stick2, &-stick3 {
    width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
  }
  .change &-stick1 {
    transform: rotate(-45deg) translate(-8px, 9px) ;
  }
  .change &-stick2 {
    opacity: 0;
  }
  .change &-stick3 {
    transform: rotate(45deg) translate(-6px, -8px) ;
  }
}


body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  // will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
.slideout-open .slideout-panel {
  box-shadow: -10px 0px 10px 1px $lightgrey;
}

@media (max-width: 767px) {
  .slideout-panel {
    padding-top:39px;
  }
} 
// #layout-wrapper:after {
//   content: '';
//   display: block;
//   background-color: rgba(0,0,0,0);
//   transition: background-color 1s ease;
// }

// .panel-open:after {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 100%;
//   background-color: rgba(0,0,0,.5)!important;
//   z-index: 99;
// }


// .icon {
// 	display:inline-block;
// 	margin: 50px;
// 	cursor:pointer;
// 	opacity: .5;
// 	&:hover {
// 		opacity: 1;
// 	}
// }
// .icon-vk {
// 	@include sprite($icon-vk);	
// }
// .icon-fb {
// 	@include sprite($icon-fb);	
// }
// .icon-insta {
// 	@include sprite($icon-insta);	
// }
