.brands {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		a {
			flex: 1;
		}
	}	
	&-item {
		padding: 40px 0;
		opacity: 0.2;
		transition: opacity .2s;
		&:hover {
			opacity: 1;
		}
	}

}

// @media (max-width: 768px) {
// 	.brands .container {
// 		flex-direction: column;
// 	}
// }