.shop {
	padding: 80px 0;
	//border-bottom: 0;
	.container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	aside {
		max-width: 260px;
		margin-left: auto;
		margin-right: auto;
		&>div {
			margin-bottom: 50px;
		}
		.price {
			width: 260px;
		}
		h3 {
			margin-top:0;
			margin-bottom: 20px;
		}
		.slide-range-wrapper {
			background: $lightgrey;
			padding: 40px 30px;
			border-radius: 5px;
			margin-bottom: 15px;
			.irs {
				height: 0;
			}
			.irs-line {
				height: 2px;
				top: 0;
			}
			.irs-line-left, .irs-line-mid, .irs-line-right {				
				top: -4px;
			}
			.irs-bar {
				height: 2px;
				top: 0;
				background-color: $color2;
				border-color: $color2;
			}
			.irs-slider {
				top: -10px;
				width: 20px;
				height: 20px;
				&:before {
					content: "";
					position: absolute;
					width: 3px;
					height: 3px;
					background: #ababab;
					border-radius: 50%;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
				&:hover:before,&:active:before {
					background: #000;
				}
			}			
		}
		.price-range {
			width: 80px;
			height: 40px;
			font: 16px/22px $light;
			background-color: $lightgrey;
			border-radius: 5px;
			border: 0;
			text-align: center;

		}
		.price-range:not(:last-child) {
			margin-right: 27px;
		}
		.range-text {
			position: relative;
			margin-right: 15px;
		}

	}	
	main {
		flex: 1;		
	}
}

@media (min-width: 596px) {
	.shop main {
		padding-left: 60px;
	}
}

.shop-sort {
	font-size: 0;
	margin-bottom: 20px;
	span {
		display: inline-block;
		margin-right: 30px;
		font: 12px/18px $medium;
		text-transform: uppercase;
	}
	span:not(:first-child) {
		cursor:pointer;
	}
	span:last-child:after {
		content: "";
		display: inline-block;
		margin-left: 10px;
		cursor: pointer;
		@include sprite($sort_down);

	}
}
.shop-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.item {
		margin: 0 auto 80px;
		max-width: 240px;
		cursor: pointer;
		.browser-panel {
			position: relative;
			overflow: hidden;
			&:before {
				content: "";
				display: block;
				@include sprite($browser-panel);
				opacity: 0.1;  
				transition: opacity .2s ease-in-out;
			}			
		}
		&:hover .browser-panel:before {
			opacity: 1;
		}
		&-description {			
			position: absolute;
			top: 30px;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 30px;
			background-color: #fff;
			text-align: center;	
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			transition: all .5s ease;
			transform: scale(0);
			opacity: 0;
			h3 {
				margin: 0;
			}		
			a {
				display: block;
				font-size: 18px;
			}	
		}
		&:hover .item-description {
			opacity: 1;
			transform: scale(1);
		}
		& img {
			transition: all .5s ease;
		}
		&:hover img {
			transform: scale(5);
			opacity: 0;
		}

	}
}
.shop-pagination {
	font-size: 0;
	&-box {
		box-sizing: content-box;
		display: inline-block;
		border: 2px solid $lightgrey;
		background: $lightgrey;
		border-radius: 5px;
		width: 38px;
		height: 38px;
		font: 12px/38px $medium;
		text-align: center;
		margin: 0 10px 20px 0;
		&.active {
			background: #fff;
			text-decoration: none;
		}
		&:hover {
			border-color: darken( $lightgrey, 20% );
			text-decoration: none;
		}
	}	
	.btn-prev, .btn-next {
		width: 140px;
	}
}


